<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Cds
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card *ngFor="let cd of getJukeBox()" (click)="open(cd)" [ngClass]="{lent: cd.isLent, return: !cd.isLent}">
      <ion-card-header>
        <ion-card-title>{{cd.id.substring(1,cd.id.length)}}.{{cd.nom}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{cd.auteur}}</p>
        <span style="color: #eeffee">Loué</span>
      </ion-card-content>
    </ion-card>
</ion-content>
